<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="utf-8">
    <title>Stats Page</title>
    </head>
    <body>
        <ul>
        
        <li><h4> Total number of all squirrels: {{total_sightings}}</h4></li>
	<li><h4> Number: of adult squirrels :{{running_true}}</h4></li>
	<li><h4> Number: of juvenile squirrels :{{running_true}}</h4></li>
	<li><h4> Number: of gray squirrels :{{running_true}}</h4></li>
	<li><h4> Number: of cinnamon squirrels :{{running_true}}</h4></li>
	<li><h4> Number: of black squirrels :{{running_true}}</h4></li>
        <li><h4> Number: of running squirrels :{{running_true}}</h4></li>
	<li><h4> Number: of eating squirrels :{{eating_true}}</h4></li>
	<li><h4> Number: of chasing squirrels :{{chasing_true}}</h4></li>
	<li><h4> Number: of climbing squirrels :{{climbing_true}}</h4></li>
	<li><h4> Number: of foraging squirrels :{{foraging_true}}</h4></li>

        </ul>
    </body>
</html> 
